*.o
*.pyc
*.vcxproj
*.vcxproj.filters
.ninja_deps
.ninja_log
build.ninja
/CMakeCache.txt
CMakeFiles/
Debug/
Win32/
cmake_install.cmake
/shipped.txt
*.dir/
*.lib
.dirstamp
.deps
.DS_Store
/*.pdb
/*.ilk
/*.res
/*.RES
/*.pch
/*.rsp
/*.obj
/*.exe
/*.ncb
/*.plg
/*.dsw
/*.opt
/*.dsp
/*.sln
/*.tds
/*.td2
/*.map
/*.log
/*.GID
/xtruss
/build.log
/build.out
/empty.h
Makefile
/compile
*.a
/doc/*.html
/doc/*.1
/unix/empty.h
/unix/plink
/unix/pterm
/unix/putty
/unix/puttytel
/unix/psftp
/unix/pscp
/unix/puttygen
/unix/stamp-h1
/unix/*.log
/unix/.deps
build/
