/*.d
/*.o
/xtruss
/xtruss.1
/Makefile.local
/build.log
/build.out
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/compile
